LOOPS
- for loop
- while loop

In [4]:
fruits = ['Apples', 'Pears', 'Oranges', 'Peaches', 'Bananas']
for x in fruits:
    print(x)

Apples
Pears
Oranges
Peaches
Bananas

In [3]:
fruits = ['Apples', 'Pears', 'Oranges', 'Peaches', 'Bananas']
for x in fruits:
    print(x, end='游때')

Apples游때Pears游때Oranges游때Peaches游때Bananas游때

In [4]:
name = "My name is John"
for i in name:
    print(i)

M
y

n
a
m
e

i
s

J
o
h
n

In [14]:
for name in range(10):
    print("Areeba")

Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba

In [15]:
for num in range(2,11):
    print(num)

2
3
4
5
6
7
8
9
10

In [17]:
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [20]:
for i in range(21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [22]:
bs = 50000
da = (10/100)*bs
print(f"Dearness Allowance is {da}")
hra = (5/100)*bs
print(f"House Rent Allowance is {hra}")
gs = bs+da+hra
print(f"Gross Salary is {gs}")

Dearness Allowance is 5000.0
House Rent Allowance is 2500.0
Gross Salary is 57500.0

In [1]:
num = 15
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

WHILE LOOP

In [ ]:
for name in range(10):
    print("Areeba")

In [2]:
name = 0
while name<10:
    print("Areeba")
    name+=1

Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba
Areeba

In [5]:
num = 1
while num<=10:
    if num%2!=0:
        print(num)
    num+=1

1
3
5
7
9

In [6]:
num = 0
while num<=10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9
10

BREAK

In [5]:
for x in range(2,10):
    if x==5:
        break
    print(x)

2
3
4

In [6]:
for x in range(2,10):
    if x==5:
        continue
    print(x)

2
3
4
6
7
8
9